html {
  background-color: black;
  color: seashell;
  font-family: helvetica;
  font-size: 22px;
  opacity: 0.9;
}

header {
  position: fixed;
  display: flex;
  color: white;
  background-color: black;
  z-index: 5;
  border-bottom: 1px solid seashell;
  height: 69px;
  top: 0;
  width: 100%;
  text-align: right;
}

header a {
  display: inline-block;
  align-self: right;
  padding: 20px 20px;
  color: white;
  height: 50px;
  text-decoration: underline;
}

nav {
  margin-left: 550px;
}

main {
  position: relative;
  top: 100px;
}

.backgroundimg {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin-left: 60px;
}

.mission {
  display: inline-block;
  text-align: center;
  padding-left: 50px;
  margin-top: 250px;
  width: 1150px;
  background-color: black;
}

.featured h2,
  .featured h3 {
  text-align: center;
  width: 1000px;
  margin-left: 130px;
}

.featured  {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: 60px;
  position: absolute;
  flex-direction: row;
}

.featured img {
  width: 300px;
  height: 200px;
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
}


.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin-left: 60px;
  margin-top: 400px;
}

.locations h3,
  .locations p {
    display: inline-block;
    text-align: center;
    background-color: black;
  }

  .downtown {
    display: inline-flex;
    flex-direction: column;
    margin-left: 300px;
  }

  .bayside {
    display: inline-flex;
    flex-direction: column;
  }

  .oakdale {
    display: inline-flex;
    flex-direction: column;
  }

.footer {
    margin-top: 150px;
    text-align: center;
    height: 200px;
  }

.copyright {
  font-size: 10px;
}
